:root {
  --black: 0, 0, 0;
  --white: 255, 255, 255;
  --blue: 51, 94, 234;
  --blue-0: 234, 239, 253;
  --grey: 44, 45, 48;
  --grey-0: 245, 245, 247;
}

[data-theme="dark"] {
  --black: 0, 0, 0;
  --white: 255, 255, 255;
  --blue: 234, 239, 253;
  --blue-0: 65, 59, 228;
  --blue-1: 85, 85, 255;
  --grey: 44, 45, 48;
  --grey-0: 245, 245, 247;
}
