:root {
  --black: 0, 0, 0;
  --white: 255, 255, 255;
  --blue: 51, 94, 234;
  --blue-0: 234, 239, 253;
  --grey: 32, 33, 36;
  --grey-0: 245, 245, 247;
}

[data-theme="dark"] {
  --black: 0, 0, 0;
  --white: 255, 255, 255;
  --blue: 222, 221, 252;
  --blue-0: 70, 70, 255;
  --grey: 32, 33, 36;
  --grey-0: 245, 245, 247;
}
