/* rail style */
.vue-slider-rail {
    background-color: #eee;
    border-radius: 15px;
}

/* process style */
.vue-slider-process {
    background-color: #335eea;
    border-radius: 15px;
}

/* dot style */
.vue-slider-dot-handle {
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0.5px 0.5px 2px 1px rgba(0, 0, 0, 0.12);
    visibility: hidden;
}

/* tooltip style  */
.vue-slider-dot-tooltip-wrapper {
    opacity: 0;
    transition: all 1s;
}

.vue-slider-dot-tooltip-wrapper-show {
    opacity: 1;
}

.vue-slider-dot-tooltip-inner {
    font-size: 14px;
    white-space: nowrap;
    padding: 2px 6px;
    min-width: 20px;
    text-align: center;
    color: #000;
    border-radius: 5px;
    border-color: #fff;
    background-color: #fff;
    box-sizing: content-box;
    box-shadow: 0.5px 0.5px 2px 1px rgba(0, 0, 0, 0.08);
}


/* hover */
.vue-slider:hover .vue-slider-dot-handle,
.vue-slider:active .vue-slider-dot-handle {
    visibility: visible;
}


/* volume style */
.volume-control .vue-slider-process {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
}

.volume-control:hover .vue-slider-process {
    background-color: #335eea;
}