/* rail style */
.vue-slider-rail {
  background-color: rgba(128, 128, 128, 0.18);
  border-radius: 15px;
}

/* process style */
.vue-slider-process {
  background-color: #335eea;
  border-radius: 15px;
}

/* dot style */
.vue-slider-dot-handle {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0.5px 0.5px 2px 1px rgba(0, 0, 0, 0.12);
  visibility: hidden;
}

/* tooltip style  */
.vue-slider-dot-tooltip-wrapper {
  opacity: 0;
  transition: all 1s;
}

.vue-slider-dot-tooltip-wrapper-show {
  opacity: 1;
}

.vue-slider-dot-tooltip-inner {
  font-size: 14px;
  white-space: nowrap;
  padding: 2px 6px;
  min-width: 20px;
  text-align: center;
  color: #000;
  border-radius: 5px;
  border-color: #fff;
  background-color: #fff;
  box-sizing: content-box;
  box-shadow: 0.5px 0.5px 2px 1px rgba(0, 0, 0, 0.08);
}

/* hover */
.vue-slider:hover .vue-slider-dot-handle,
.vue-slider:active .vue-slider-dot-handle {
  visibility: visible;
}

/* volume style */
.volume-control .vue-slider-process {
  opacity: 0.8;
  background-color: var(--color-text);
  border-radius: 15px;
}

.volume-control:hover .vue-slider-process {
  background-color: #335eea;
}

/* nyancat */

.nyancat .vue-slider-rail {
  background-color: rgba(128, 128, 128, 0.18);
  padding: 2.5px 0px;
  border-radius: 0;
}

.nyancat .vue-slider-process {
  padding: 0px 1px;
  top: -2px;
  border-radius: 0;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #f00),
    color-stop(17%, #f90),
    color-stop(33%, #ff0),
    color-stop(50%, #3f0),
    color-stop(67%, #09f),
    color-stop(83%, #63f)
  );
}

.nyancat .vue-slider-dot-handle {
  background: url('/img/logos/nyancat.gif');
  background-size: 36px;
  width: 36px;
  height: 24px;
  margin-top: -6px;
  box-shadow: none;
  border-radius: 0;
  box-sizing: border-box;
  visibility: visible;
}

.nyancat-stop .vue-slider-dot-handle {
  background-image: url('/img/logos/nyancat-stop.png');
  transition: 300ms;
}

/* lyrics */
.lyrics-page .vue-slider-rail {
  background-color: rgba(128, 128, 128, 0.18);
  border-radius: 2px;
  height: 4px;
  opacity: 0.88;
}

.lyrics-page .vue-slider-process {
  background-color: #060606;
}

.lyrics-page .vue-slider-dot-handle {
  background-color: #060606;
  box-shadow: unset;
}

.lyrics-page .vue-slider-dot-tooltip {
  display: none;
}

body[data-theme='dark'] .lyrics-page .vue-slider-process {
  background-color: #fafafa;
}

body[data-theme='dark'] .lyrics-page .vue-slider-dot-handle {
  background-color: #fff;
}

.lyrics-page[data-theme='dark'] .vue-slider-rail {
  background-color: rgba(255, 255, 255, 0.18);
}

.lyrics-page[data-theme='dark'] .vue-slider-process,
.lyrics-page[data-theme='dark'] .vue-slider-dot-handle {
  background-color: #fff;
}
