@import "./palette.css";

:root {
  --color-black: rgba(var(--black), 1);
  --color-white: rgba(var(--white), 1);
  --color-primary: rgba(var(--blue), 1);
  --color-primary-light: rgba(var(--blue-0), 1);
  --color-secondary: rgba(var(--blue), 0.78);

  --color-text-0: rgba(var(--black), 1);
  --color-text-1: rgba(var(--black), 0.88);
  --color-text-2: rgba(var(--black), 0.68);
  --color-text-3: rgba(var(--black), 0.58);
  --color-text-4: rgba(var(--black), 0.5);
  --color-text-5: rgba(var(--black), 0.28);
  --color-text-6: rgba(var(--black), 0.28);
  --color-bg-0: rgba(var(--white), 1);
  --color-bg-1: rgba(var(--white), 0.86);
  --color-bg-2: rgba(var(--white), 0.38);
  --color-bg-3: rgba(var(--grey-0), 1);

  --color-border-0: rgba(var(--black), 0.02);
  --color-border-1: rgba(var(--black), 0.04);
  --color-border-2: rgba(var(--black), 0.18);

  --color-shadow: rgba(var(--black), 0.4);
  --color-shadow-0: rgba(var(--black), 0.2);
  --color-shadow-1: rgba(var(--black), 0.1);
  --color-shadow-2: rgba(var(--black), 0.05);

  --color-active: var(--color-primary);
}

[data-theme="dark"] {
  --color-black: rgba(var(--white), 1);
  --color-white: rgba(var(--black), 1);
  --color-primary: rgba(var(--blue), 1);
  --color-secondary: rgba(var(--blue), 0.78);
  --color-primary-light: rgba(var(--blue-0), 1);

  --color-text-0: #ffffff;
  --color-text-1: #eeeeee;
  --color-text-2: #dddddd;
  --color-text-3: #cccccc;
  --color-text-4: #bbbbbb;
  --color-text-5: #aaaaaa;
  --color-text-6: #999999;

  --color-bg-0: rgba(var(--grey), 1);
  --color-bg-1: rgba(var(--grey), 0.86);
  --color-bg-2: rgba(var(--grey), 0.38);
  --color-bg-3: rgba(var(--black), 0.2);

  --color-border-0: rgba(var(--black), 0.02);
  --color-border-1: rgba(var(--black), 0.04);
  --color-border-2: rgba(var(--white), 0.68);

  --color-shadow: rgba(var(--black), 0.4);
  --color-shadow-0: rgba(var(--black), 0.2);
  --color-shadow-1: rgba(var(--black), 0.1);
  --color-shadow-2: rgba(var(--black), 0.05);

  --color-active: rgba(var(--blue-1));
}
